@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-main {
		@apply font-sans text-gray-300;
	}
	.bg-main {
		@apply bg-gray-900;
	}
}

body {
	padding: 0;
	margin: 0;
	@apply font-sans text-gray-300 bg-gray-900;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* MDX lists */
.mdx-ul {
	@apply text-lg ml-6 list-disc list-inside mb-7;
}
.mdx-ul .mdx-ul {
	@apply list-circle mb-0;
}
.mdx-ul .mdx-ul .mdx-ul {
	@apply list-square;
}
.mdx-li {
	@apply mb-1;
}
